# Игнорировать виртуальное окружение
.venv/

# Python bytecode
__pycache__/
*.py[cod]
*.pyo
.pyc
# IDE-config
.vscode/
.idea/
# Игнорируем файл с токеном
.env
# Логи, временные файлы и кеши
*.log
*.sqlite3
.env
VKR_Project.git/

# MacOS
.DS_Store

# Загрузки
uploads/
