# Игнорировать виртуальное окружение
.venv/

# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# IDE-config
.vscode/
.idea/

# Логи, временные файлы и кеши
*.log
*.sqlite3
.env
VKR_Project.git/

# MacOS
.DS_Store

# Загрузки
uploads/
