# ----------------------------
# Игнорировать виртуальное окружение
# ----------------------------
.venv/
# ----------------------------
# *.pyc, __pycache__, .pytest_cache и т. п.
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
# ----------------------------
# Конфиги IDE (VSCode, PyCharm и др.)
# ----------------------------
.vscode/
.idea/

# ----------------------------
# Логи, временные файлы и кеши
# ----------------------------
*.log
*.sqlite3
.env
VKR_Project.git/
# ----------------------------
# MacOS
# ----------------------------
.DS_Store